<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plj.licona.club.acl.mapper.UserRoleMapper">
    <insert id="linkUserRole" parameterType="plj.licona.club.acl.entity.UserRole">
        insert into user_role(id, user_id, role_id) values (#{id}, #{userId}, #{roleId})
    </insert>
</mapper>
